<div class="checkout-billing-address">
    <!-- ko foreach: getRegion('billing-address-list') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->

    <!-- Address form pop up -->
    <if args="!isFormInline">
        <button type="button"
                class="action action-show-popup"
                click="showFormPopUp"
                visible="!isNewAddressAdded()">
            <span data-bind="translate: 'New Address'"></span>
        </button>
        <div id="opc-new-billing-address"
             data-bind="visible: isFormPopUpVisible()">
            <render args="billingFormTemplate"></render>
        </div>
    </if>
</div>
